.header-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: 0.3s;
  z-index: 10;
  height: 65px;
  padding: 10px 150px;
  display: flex;
  background-color: #000;
  align-items: center;
  justify-content: space-between;
  animation: headerOn 1s ease;
  .header-left {
    h1 {
      font-family: rubik;
      color: #27F4E0;
      font-weight: 100;
      letter-spacing: 3px;
    }
  }
  .header-right {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
    .burger-menu {
      display: none;
      img {
        width: 35px;
        height: 35px;
        object-fit: cover;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      column-gap: 60px;
      li {
        list-style: none;
        p {
          color: #27F4E0;
          padding: 2px 4px;
          font-size: 20px;
          font-weight: 100;
          cursor: pointer;
          position: relative;
          &:active {
            color: #787878;
          }
          &::after {
            position: absolute;
            bottom: -4px;
            content: '';
            left: 0;
            width: 0%;
            height: 2.5px;
            // background: linear-gradient(90deg, rgba(0,255,243,1) 0%, rgba(9,43,121,1) 56%, rgba(243,0,255,1) 100%);
            background-color: #27F4E0;
            transition: 0.3s;
          }
          &:hover::after {
            width: 100%;
            transition: 0.3s;
          }
        }
      }
    }
  }
}

@keyframes headerOn {
  0% {
    height: 0px;
    opacity: 0;
  }
  50% {
    height: 65px;
    opacity: 1;
  }

}

.scroll_header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s;
  right: 0;
  box-shadow: 0px 1px 20px 1px #3476b7;
  z-index: 11;
  transition: 0.3s;
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #27F4E0;
  }
}

.home_active,
.about_active,
.projects_active,
.contact_active {
  border: 0.3px dashed #787878;
  transition: 0.3s;
}

.menu {
  z-index: 90;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    inset: 0;
    opacity: 0.9;
    background-color: #27e5d2;
    z-index: 95;
  }
  .menu-links {
    position: relative;
    z-index: 96;
    width: 100%;
    text-align: center;
    margin-top: 0;
    ul {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      position: relative;
      span {
        position: absolute;
        right: 50px;
        top: -150px;
        z-index: 100;
        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
        }
        &:active {
            color: #4194c1;
            border-color: #4194c1;
          }
        }
        li {
          list-style: none;
          color: #000;
          font-size: 30px;
          &:hover {
              color: #4194c1;
          }
        }
    }
  }
}

$responsive-header: 1126px;
@media (max-width: $responsive-header) {
  .header-main {
    padding: 10px 100px;
    .header-left {
      h1 {
        font-size: 25px;
      }
    }
    .header-right {
      ul {
        column-gap: 20px;
        li {
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}


@media(max-width : 1275px){
  .header-main {
    padding: 10px 50px;
  }
}
@media(max-width : 645px){
  .header-main {
    padding: 10px 20px;
  }
}
@media(max-width : 570px){
  .header-main {
    padding: 10px 20px;
    .header-right {
      .burger-menu {
        display: flex;
      }
      ul {
        column-gap: 15px;
        display: none;
        li {
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}