<div class="about-page-main">
  <div class="about">
    <div class="title-text">
      <div class="title">
        <h2>ABOUT ME</h2>
      </div>
      <div class="about-text">
        <p>
          A passionate Front-end Developer with
          one year of hands-on experience in crafting immersive web
          experiences.Over the past year, I've had the privilege of working
          on four medium-level projects, each of which has added depth to my
          skills and broadened my perspective on front-end development.
          My commitment to excellence in this field is underscored by my education.
          I am a proud graduate of IT Step Academy Georgia, where I honed my skills 
          and earned a certificate in Front End Development. This educational foundation,
          combined with my practical experience, equips me with the knowledge and expertise
          needed to tackle complex front-end challenges.
        </p>
      </div>
    </div>
    <div class="tech-stack">
      <div class="tech-title">
        <h2>Tech Stack</h2>
      </div>
      <div class="tech-containers">

        <div class="container">
          <div class="container-icon">
            <img [src]="'/assets/images/html.png'">
          </div>
          <div class="container-name">
            <p>HTML 5</p>
          </div>
        </div>

        <div class="container">
          <div class="container-icon">
            <img [src]="'/assets/images/css.png'">
          </div>
          <div class="container-name">
            <p>CSS/SCSS</p>
          </div>
        </div>

        <div class="container">
          <div class="container-icon">
            <img [src]="'/assets/images/javascript.png'">
          </div>
          <div class="container-name">
            <p>JavaScript</p>
          </div>
        </div>

        <div class="container">
          <div class="container-icon">
            <img [src]="'/assets/images/angular.png'">
          </div>
          <div class="container-name">
            <p>Angular</p>
          </div>
        </div>

        <div class="container">
          <div class="container-icon">
            <img [src]="'/assets/images/typescript.png'">
          </div>
          <div class="container-name">
            <p>TypeScript</p>
          </div>
        </div>

        <div class="container">
          <div class="container-icon">
            <img [src]="'/assets/images/firebase.png'">
          </div>
          <div class="container-name">
            <p>Firebase</p>
          </div>
        </div>

        <div class="container">
          <div class="container-icon">
            <img [src]="'/assets/images/bootstrap.png'">
          </div>
          <div class="container-name">
            <p>Bootstrap</p>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="decore">
    <img [src]="'/assets/images/aboutus.png'"/>
  </div>
</div>
