<div class="about-page-main">
  <div class="about">
    <div class="title-text">
      <div class="title">
        <h2>ABOUT ME</h2>
      </div>
      <div class="about-text">
        <p>
          My journey in this field began with a 6-month course at IT Step Academy, 
          where I successfully completed the Front-End Development program and earned a certificate. 
          Following that, I spent 3 months as a Front-End Developer with a small startup, contributing to the 
          development of FC Locomotive's internal website. My portfolio showcases several projects, with a focus 
          on utilizing Angular and Firebase.
          Now, I am eager to join a dynamic team, passionately dedicating myself to meaningful work 
          and furthering my development in this field.
        </p>
      </div>
    </div>
    <div class="tech-stack">
      <div class="tech-title">
        <h2>Tech Stack</h2>
      </div>
      <div class="tech-containers">

        <div class="container">
          <div class="container-icon">
            <img [src]="'/assets/images/html.png'">
          </div>
          <div class="container-name">
            <p>HTML 5</p>
          </div>
        </div>

        <div class="container">
          <div class="container-icon">
            <img [src]="'/assets/images/css.png'">
          </div>
          <div class="container-name">
            <p>CSS/SCSS</p>
          </div>
        </div>

        <div class="container">
          <div class="container-icon">
            <img [src]="'/assets/images/javascript.png'">
          </div>
          <div class="container-name">
            <p>JavaScript</p>
          </div>
        </div>

        <div class="container">
          <div class="container-icon">
            <img [src]="'/assets/images/angular.png'">
          </div>
          <div class="container-name">
            <p>Angular</p>
          </div>
        </div>

        <div class="container">
          <div class="container-icon">
            <img [src]="'/assets/images/typescript.png'">
          </div>
          <div class="container-name">
            <p>TypeScript</p>
          </div>
        </div>

        <div class="container">
          <div class="container-icon">
            <img [src]="'/assets/images/firebase.png'">
          </div>
          <div class="container-name">
            <p>Firebase</p>
          </div>
        </div>

        <div class="container">
          <div class="container-icon">
            <img [src]="'/assets/images/cc.png'">
          </div>
          <div class="container-name">
            <p>C#</p>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="decore">
    <img [src]="'/assets/images/aboutus.png'"/>
  </div>
</div>
