<div class="home-page-main">
  <div class="home-page-left">
      <div class="hey">
        <p>Hi there</p>
        <img [src]="'/assets/images/hello-icon.png'">
      </div>
      <div class="title">
        <h1>Front-End Angular Developer</h1>
      </div>
      <div class="about">
        <p>
          I'm Giorgi Mindiashvili, and I've been immersed in this business for over a half and year. 
          Each day,<br> I dedicate myself to hard work, striving to develop and acquire new 
          skills in this field.
        </p>
      </div>
      <div class="links">
        <a href="https://www.linkedin.com/in/giorgi-mindiashvili-287309261/" target="_blank">
          <img [src]="'/assets/images/linked.png'">
        </a>
        <a href="https://github.com/MindiashviliGiorgi" target="_blank">
          <img [src]="'/assets/images/gittt.png'">
        </a>
      </div>
  </div>
  <div class="decore">
    <img [src]="'/assets/images/homepage.png'" />
  </div>
    
</div>
