<app-header></app-header>
<div class="home-page-main">
  <div class="home-page-left">
    <div class="hey">
      <p>Hi there</p>
      <img [src]="'/assets/images/hello-icon.png'">
    </div>
    <div class="title">
      <h1>Front-End Angular Developer</h1>
    </div>
    <div class="about">
      <p>
        I'm Giorgi Mindiashvili, a dedicated and driven
        front-end developer with one year of hands-on experience
        in crafting engaging and user-friendly web experiences.
        My passion for coding, coupled with a relentless pursuit of
        excellence, has allowed me to grow and thrive in<br> this dynamic
        field.
      </p>
    </div>
    <div class="links">
      <a href="https://www.linkedin.com/in/giorgi-mindiashvili-287309261/" target="_blank">
        <img [src]="'/assets/images/linked.png'">
      </a>
      <a href="https://github.com/MindiashviliGiorgi" target="_blank">
        <img [src]="'/assets/images/gittt.png'">
      </a>
    </div>
  </div>
  <div class="decore">
    <img [src]="'/assets/images/homepage.png'" />
  </div>
</div>
<app-about-page></app-about-page>
<app-projects-page></app-projects-page>

