.home-page-main {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 50px 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .home-page-left {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    height: auto;
    flex: 1;
    position: relative;
    animation: textOn 2s ease-in;
    .hey {
      display: flex;
      align-items: center;
      flex-direction: row;
      column-gap: 10px;
      p {
        color: #eee;
        font-size: 16px;
        font-weight: 100;
      }
      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        animation: heyMove 3s infinite;
      }
    }
    .title {
      h1 {
        font-size: 55px;
        color: #fff;
        font-weight: 100;
      }
    }
    .about {
      width: 800px;
      p {
        color: #eeeeee;
        font-size: 17px;
        font-weight: 100;
        letter-spacing: 0.5px;
        line-height: 24px;
      }
    }
    .links {
      display: flex;
      flex-direction: row;
      column-gap: 10px;
      align-items: center;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        img {
          width: 35px;
          height: 35px;
          object-fit: cover;
          cursor: pointer;
        }
      }
    }
  }
  .decore {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    animation: decorationOn 1s ease-in;
    img {
      width: auto;
      height: 100vh;
      object-fit: cover;
    }
  }
}

@keyframes textOn {
  0% {
    left: -700px;
    opacity: 0;
  }
  50% {
    left: 0;
    opacity: 1;
  }
}

@keyframes decorationOn {
  0% {
    top: -500px;
    right: -500px;
    opacity: 0;
  }
  50% {

    opacity: 1;
  }
}

@keyframes heyMove {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media(max-width : 1275px){
  .home-page-main {
    padding: 50px;
  }
}
@media(max-width : 870px){
  .home-page-main {
    padding: 50px;
    .home-page-left {
      .about {
        width: 600px;
        p {
          text-shadow: 0px 0px 10px #000;
          color: #fff;
        }
      }
    }
  }
}
@media(max-width : 740px){
  .home-page-main {
    padding: 50px;
    .home-page-left {
      .about {
        width: 600px;
        p {
          text-shadow: 0px 0px 10px #000;
          color: #fff;
        }
      }
    }.decore {
      img {
        width: 900px;
      }
    }
  }
}
@media(max-width : 670px){
  .home-page-main {
    padding: 50px;
    .home-page-left {
      .title {
        h1 {
          font-size: 44px;
        }
      }
      .about {
        width: 500px;
        p {
          text-shadow: 0px 0px 10px #000;
          color: #fff;
        }
      }
    }.decore {
      img {
        width: 900px;
      }
    }
  }
}
@media(max-width : 645px){
  .home-page-main {
    padding: 50px 20px;
    .home-page-left {
      .title {
        h1 {
          font-size: 44px;
        }
      }
      .about {
        width: 500px;
        p {
          text-shadow: 0px 0px 10px #000;
          color: #fff;
        }
      }
    }.decore {
      img {
        width: 700px;
      }
    }
  }
}
@media(max-width : 530px){
  .home-page-main {
    padding: 50px 20px;
    .home-page-left {
      .title {
        h1 {
          font-size: 44px;
        }
      }
      .about {
        width: 440px;
        p {
          text-shadow: 0px 0px 10px #000;
          color: #fff;
        }
      }
    }.decore {
      img {
        width: 600px;
      }
    }
  }
}
@media(max-width : 492px){
  .home-page-main {
    padding: 50px 20px;
    .home-page-left {
      .title {
        h1 {
          font-size: 44px;
        }
      }
      .about {
        width: 370px;
        p {
          text-shadow: 0px 0px 10px #000;
          color: #fff;
        }
      }
    }.decore {
      img {
        width: 500px;
      }
    }
  }
}
@media(max-width : 425px){
  .home-page-main {
    padding: 50px 20px;
    .home-page-left {
      .title {
        h1 {
          font-size: 44px;
        }
      }
      .about {
        width: 370px;
        p {
          text-shadow: 0px 0px 10px #000;
          color: #fff;
        }
      }
    }.decore {
      img {
        width: 400px;
      }
    }
  }
}
@media(max-width : 394px){
  .home-page-main {
    padding: 50px 20px;
    .home-page-left {
      .title {
        h1 {
          font-size: 44px;
        }
      }
      .about {
        width: 340px;
        p {
          text-shadow: 0px 0px 10px #000;
          color: #fff;
        }
      }
    }.decore {
      img {
        width: 350px;
      }
    }
  }
}